:root {
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --yellow-color: #FFB703;
    --blue-color: #007A7B;
}

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

/* Header Section */
header{
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 26px 8%;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
header img{
    align-items: center;
    display: flex;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul a{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding: .5rem 1.3rem;
    margin: 0px 10px;
    text-decoration: none;
    transition: all .1s ease;
    z-index: 1000;
}
.navbar1 {
    position: relative;
    right: 110px;
}
.bahasa i{
    margin-right: 5px;
}
.navbar2 ul li button{
    border-radius: 15px;
    border: 1px solid #000000;
    font-weight: 600;
    padding: .5rem 1.3rem;
    background: none;
    cursor: pointer;
}
.navbar1 ul a:hover{
    background:#007A7B;
    border-radius: 15px;
    color: #FFFFFF;
}
.navbar1 a.active{
    background:#007A7B;
    border-radius: 15px;
    color: #FFFFFF;
}
.navbar2 ul li a:hover{
    color: #007A7B;
}
.navbar2 ul li button:hover{
    color: #007A7B;
    border: 1px solid #007A7B;
}
.btn-masuk.active{
    color: #007A7B;
    border: 1px solid #007A7B;
}
#menu-icon {
    font-size: 35px;
    color: #000000;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
/* End Section of Header */

/* Main Section */
main{
    position: relative;
    min-width: 100%;
    align-items: center;
    transition: all .2s ease-in-out;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

    /* Beranda Section */
.Beranda{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 130px 100px 100px;
    background: linear-gradient(215deg, rgba(255, 183, 3, 0.60) 0%, rgba(255, 255, 255, 0.00) 100%) no-repeat center;
}
.Beranda .left-content{
    margin-top: 50px;
}
.Beranda .left-content h1{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin: 30px auto 11px auto;
}
.Beranda .left-content h2{
    color: #000000;
    font-size: 48px;
    font-weight: 800;
    margin-top: 11px;
}
.Beranda .left-content .animate-text{
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    animation: spin_words 6s infinite;
}
.Beranda .left-content .animate-text h2{
    margin-top: -5px;
    margin-bottom: 15px;
    color: #FFB703;
    position: relative;
    animation: animation 10s ease infinite;
}
@keyframes animation {
    0%{top: 0px}
    5.9%{top: 0px}
    11.8%{top: -60px}
    17.7%{top: -60px}
    23.6%{top: -120px}
    29.5%{top: -120px}
    35.4%{top: -180px}
    41.3%{top: -180px}
    47.2%{top: -240px}
    53.1%{top: -240px}
    59%{top: -300px}
    64.9%{top: -300px}
    70.8%{top: -360px}
    76.7%{top: -360px}
    82.6%{top: -420px}
    88.5%{top: -420px}
    94.4%{top: 0px}
    100%{top: 0px}
}
.Beranda .left-content h3{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    margin: 11px auto;
}
.Beranda .left-content button{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 5px;
    cursor: pointer;

    border-radius: 10px;
    background: #FFB703;
    padding: 7px 20px;
    border: 0;
    text-decoration: none;
    margin: 11px auto;
    transform: scale(1);
    transition: all .1s ease-in-out;
}
.Beranda .left-content button:hover{
    background: #007A7B;
    transform: scale(1.1);
}
button.btn-daftar.active{
    background: #007A7B;
}

.img-beranda{
    right: 0px;
    position: relative;
}
.img-beranda img{
    height: 510px;
}

    /* Layanan Section */
.Layanan{
    width: 100%;
    justify-content: space-between;
    position: relative;
    background: #FFFFFF;
    padding: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.banner{
    display: flex;
    position: relative;
    margin: 15px auto;
    margin-bottom: 35px;
    width: 734px;
    height: 219px;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}
.banner .left-side{
    width: 470px;
    height: 219px;
    flex-shrink: 0;
    border-radius: 0px 109.5px 109.5px 0px;
    background: linear-gradient(169deg, #007A7B 0%, #000 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .left-side img{
    position: relative;
    margin-top: 8px;
}
.banner .left-side h1{
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.1);
    background-color: #FFFFFF;
    filter: brightness(3);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
    letter-spacing: 2.16px;
    right: 30px;
}
.banner .left-side h1 span{
    letter-spacing: 18px;
}
.banner .right-side{
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    align-items: center;
}
.banner .right-side h1{
    display: flex;
    flex-flow: column;
    color: #000000;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    gap: 54px;
    letter-spacing: -0.3px;
    right: 10px;
    position: relative;
}
.banner .right-side span{
    color: #007A7B;
    text-shadow: 0 -1px 0 #666;
    font-size: 128px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: -3.2px;
    display: flex;
    top: 5px;
    position: relative;
}
.banner .right-side span span{
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: -1.6px;
    display: flex;
}
    /* Form Container Section */
    .form-container{
        display: flex;
        margin: 0px auto;
        width: 830px;
        padding: 20px;
        background: #007A7B;
        box-shadow: #000000;
        border-radius: 10px;
        position: relative;
    }
    .input-group{
        width: 300px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;
    }
    .input-group .inputgrup1, .input-group .inputgrup2{
        width: 100%;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;    
    }
    .input-group .inputgrup1 input, .input-group .inputgrup2 input{
        width: 100%;
        padding: 0px 20px 0px 0px;
        border: none;
    }
    .input-group .bx-search, .input-group .bx-map{
        color: #666;
    }
    .input-group input:valid{
        outline: none;
    }
    .input-group input::placeholder{
        color: #000000;
        text-transform: capitalize;
    }
    .resultlokasi{
        position: absolute;
        list-style: none;
        padding: unset;
        margin: unset;
        width: 300px;
        border-radius: 0;
        background: #FFB703;
        top: 55px;
        z-index: 5;
        left: 340px;
        max-height: 230px;
        overflow-y: auto;
    }
    .resultlokasi .btn-kabkota{
        border: unset;
        background: none;
        width: 100%;
        padding: 8px;
        font-size: 14px;
        font-weight: 600;
        left: 0;
        height: 30px;
        border-radius: none;
    }
    .input-sub-group{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #666;
        border-radius: 5px;
    }
    .input-sub-group p{
        position: relative;
        font-family: 'Poppins', 'sans-serif';
        font-size: 12px;
        text-transform: capitalize;
        font-weight: 500;
        color: #FFFFFF;
        padding-left: 10px;
        letter-spacing: 0px;
        cursor: default;
    }
    .input-sub-group input{
        width: 48%;
        color: #000000;
        cursor: pointer;
        height: 40px;
    }
    .form-container .form-button{
        height: 90px;
        width: 150px;
        background-color: #FFB703;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Poppins';
        border-style:none;
        text-transform: capitalize;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        transition: all .2s ease-in-out;
        cursor: pointer;
        }
    .form-container button:hover{
        background: #666;
        font-weight: 700;
    }
    /* Nav-Layanan Section */
    .nav-layanan{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 35px auto;
    }
    .nav-layanan .vertical-grid{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 95px;
    }
    .vertical-grid li {
        list-style: none;
    }
    .vertical-grid li a{
        text-decoration: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
    }
    .vertical-grid .vertical-icon img{
        object-fit: contain;
        position: relative;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 100px;
        background-color: rgba(255, 183, 3, 0.56);
        margin: auto;
        display: block;
        max-width: 100%;
        margin-bottom: 4px;
        height: 75px;
        width: 75px;
        transform: scale(1);
        transition: all .2s ease; 
    }
    .vertical-grid .vertical-icon img:hover{
        background-color: rgba(0, 122, 123, 0.33);
        transform: scale(1.2);
        padding: 12px;
    }
    .vertical-grid .vertical-icon.active img{
        background-color: rgba(0, 122, 123, 0.33);
    }
    .vertical-grid .verticaltext h2{
        text-align: center;
        font-size: 14px;
        display: flex;
        align-items: self-start;
        font-weight: 600;
        color: #007A7B;
        height: 41px;
        line-height: 18px;
        width: 100%;
        overflow: hidden;
        word-break: break-word;
        display: flow-root;
    }

/* Layanan Motor, Mobil, Fotografi dkk */
.Layanan-motor, .Layanan-mobil{
    width: 100%;
    background: #FFFFFF;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-top: 100px;
    margin-top: -140px;
    margin-bottom: -70px;
    display: none;
}
.Layanan-motor.active, .Layanan-mobil.active{
    display: block;
}
.menu_motor, .menu_mobil{
    width: 100%;
    padding: 0 200px;
}
.menu_motor ul, .menu_mobil ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 15px;
    background: rgba(255, 183, 3, 0.56);
    border-radius: 40px;
}
.menu_motor ul li button, .menu_mobil ul li button{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    background: none;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.menu_motor ul li button.active, .menu_mobil ul li button.active{
    background: #FFFFFF;
}
.menu_motor ul li button:hover, .menu_mobil ul li button:hover{
    background: #FFFFFF;
}
.content-motor, .content-mobil{
    display: flex;
    padding: 30px 100px;
}
.Populer-motor, .Populer-mobil{
    width: 100%;
    display: none;
}
.Populer-motor.active, .Populer-mobil.active{
    display: block;
}
.Populer-motor h2, .Populer-mobil h2{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: center;
    cursor: default;
    margin-top: 20px;
    text-decoration: underline;
}
.Populer-motor ul, .Populer-mobil ul{
    display: flex;
    list-style: none;
    padding: 20px 100px;
    justify-content: space-between;
}
.Populer-motor ul li, .Populer-mobil ul li{
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Populer-motor ul li img, .Populer-mobil ul li img{
    width: 250px;
    border-radius: 10px;
}
.Populer-motor .layer, .Populer-mobil .layer{
    border-radius: 10px;
    background: transparent;
    position: relative;
    height: 320px;
    width: 250px;
    top: -327px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.Populer-motor .layer:hover, .Populer-mobil .layer:hover{
    background: rgba(255, 183, 3, 0.7);
}
.Populer-motor .layer h3, .Populer-mobil .layer h3{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    cursor: default;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: 0.5s;
}
.Populer-motor .layer:hover h3, .Populer-mobil .layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.Populer-motor .layer nav, .Populer-mobil .layer nav{
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    cursor: default;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: 0.5s;
}
.Populer-motor .layer nav button, .Populer-mobil .layer nav button{
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 10px;
    background: #000000;
    border:none;
    letter-spacing: 2px;
    transition: 0.2s;
    cursor: pointer;
}
.Populer-motor .layer:hover nav, .Populer-mobil .layer:hover nav{
    bottom: 35%;
    opacity: 1;
}
.Populer-motor .layer nav button:hover, .Populer-mobil .layer nav button:hover{
    background: #007A7B;
}
.Terkait-motor, .Terkait-mobil{
    width: 100%;
    display: none;
}
.Terkait-motor.active, .Terkait-mobil.active{
    display: block;
}
.Terkait-motor ul, .Terkait-mobil .dispjm, .Terkait-mobil .dispjdm{
    display: flex;
    flex-flow: wrap;
    list-style: none;
    padding: 20px 100px;
    justify-content: space-between;
}
.Terkait-motor ul li, .Terkait-mobil .dispjm li, .Terkait-mobil .dispjdm li{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    margin-bottom: 20px;
}
.Terkait-motor ul li img, .Terkait-mobil .dispjm li img, .Terkait-mobil .dispjdm li img{
    width: 195px;
    border-radius: 10px;
    display: flex;
    align-items: center ;
    margin-top: 10px;
}
.Terkait-motor ul li .detail-layer, .Terkait-mobil .dispjm li .detail-layer, .Terkait-mobil .dispjdm li .detail-layer{
    border-radius: 10px;
    top: 5px;
    background: transparent;
    width: 195px;
    height: 195px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.Terkait-motor ul li .detail-layer nav button, .Terkait-mobil .dispjm li .detail-layer nav button, .Terkait-mobil .dispjdm li .detail-layer nav button{
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    background: #007A7B;
    letter-spacing: 2px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
}
.Terkait-motor ul li .detail-layer:hover nav button, .Terkait-mobil .dispjm li .detail-layer:hover nav button, .Terkait-mobil .dispjdm li:hover nav button{
    bottom: 49%;
    opacity: 1;
}
.Terkait-motor ul li strong, .Terkait-mobil .dispjm li strong, .Terkait-mobil .dispjdm li strong{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: default;
}
.Terkait-motor ul li .toko, .Terkait-mobil .dispjm li .toko, .Terkait-mobil .dispjdm li .toko{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-top: 5px;
    padding: 0 5px;
    cursor: default;
}
.Terkait-motor ul li .toko i .fa, .fas,.Terkait-mobil .dispjm li .toko i .fa, .fas,.Terkait-mobil .dispjdm li .toko i .fa, .fas{
    font-size: 16px;
}
.Terkait-motor ul li .toko i span, .Terkait-mobil .dispjm li .toko i span, .Terkait-mobil .dispjdm li .toko i span{
    font-weight: 500;
    position: relative;
    left: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.Terkait-motor ul li .toko i span:hover, .Terkait-mobil .dispjm li .toko i span:hover, .Terkait-mobil .dispjdm li .toko i span:hover{
    color: #007A7B;
}
.Terkait-motor ul li .rating-rent, .Terkait-mobil .dispjm li .rating-rent, .Terkait-mobil .dispjdm li .rating-rent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 5px;
    position: relative;
    padding: 0 5px;
    cursor: default;
}
.Terkait-motor ul li .rating-rent .rating, .Terkait-mobil .dispjm li .rating-rent .rating, .Terkait-mobil .dispjdm li .rating-rent .rating{
    font-size: 14px;
    color: #FFB703;
}
.Terkait-motor ul li .rating-rent div h4, .Terkait-mobil .dispjm li .rating-rent div h4, .Terkait-mobil .dispjdm li .rating-rent div h4{
    font-size: 14px;
    font-weight: 500;
}
.Terkait-motor ul li .harga, .Terkait-mobil .dispjm li .harga, .Terkait-mobil .dispjdm li .harga{
    position: relative;
    width: 100%;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    padding: 0 5px;
    cursor: default;
}
.Terkait-motor ul li .harga .nominal, .Terkait-mobil .dispjm li .harga .nominal, .Terkait-mobil .dispjdm li .harga .nominal{
    margin-left: 5px;
}
.Terkait-motor ul li .harga .waktu, .Terkait-mobil .dispjm li .harga .waktu, .Terkait-mobil .dispjdm li .harga .waktu{
    font-size: 10px;
}
.Terkait-motor ul li .nav-terkait, .Terkait-mobil .dispjm li .nav-terkait, .Terkait-mobil .dispjdm li .nav-terkait{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    position: relative;
    margin-bottom: 10px;
}
.Terkait-motor ul li .nav-terkait .cart, .Terkait-mobil .dispjm li .nav-terkait .cart, .Terkait-mobil .dispjdm li .nav-terkait .cart{
    display: flex;
    align-items: center;
}
.Terkait-motor ul li .nav-terkait .cart .md.hydrated, .Terkait-mobil .dispjm li .nav-terkait .cart .md.hydrated, .Terkait-mobil .dispjdm li .nav-terkait .cart .md.hydrated{
    font-size: 20px;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
}
.Terkait-motor ul li .nav-terkait .cart .md.hydrated:hover, .Terkait-mobil .dispjm li .nav-terkait .cart .md.hydrated:hover, .Terkait-mobil .dispjdm li .nav-terkait .cart .md.hydrated:hover{
    color: #666;
    transform: scale(1.2);
}
.Terkait-motor ul li .nav-terkait .booknow button, .Terkait-mobil .dispjm li .nav-terkait .booknow button, .Terkait-mobil .dispjdm li .nav-terkait .booknow button{
    font-size: 16px;
    font-weight: 600;
    background: #007A7B;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}
.Terkait-motor ul li .nav-terkait .booknow button:hover, .Terkait-mobil .dispjm li .nav-terkait .booknow button:hover, .Terkait-mobil .dispjdm li .nav-terkait .booknow button:hover{
    background: #000000;
}
.Terkait-mobil .navmenumobil{
    display: flex;
    list-style: none;
    padding: 20px 100px;
    justify-content: space-between;
    display: none;
}
.Terkait-mobil .navmenumobil.active{
    display: flex;
}
.Terkait-mobil .navmenumobil li{
    height: 320px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Terkait-mobil .navmenumobil li img{
    transform: scale(1);
    transition: 0.5s;
}
.Terkait-mobil .navmenumobil .nav-m img{
    width: 235px;
}
.Terkait-mobil .navmenumobil .nav-dm img{
    width: 177px;
}
.Terkait-mobil .navmenumobil .nav-mdm .nmdm1{
    width: 100px;
    position: relative;
    top: -100px;
    right: -40px;
}
.Terkait-mobil .navmenumobil .nav-mdm .nmdm2{
    width: 200px;
    position: absolute;
}
.Terkait-mobil .navmenumobil li div{
    width: 250px;
    height: 320px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    background: transparent;
    transition: 0.5s;
    border-radius: 10px;
}
.Terkait-mobil .navmenumobil li:hover{
    background-color: rgba(0, 122, 123, 0.33);
}
.Terkait-mobil .navmenumobil li:hover h3{
    transform: scale(1.2);
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #666;
}
.Terkait-mobil .navmenumobil li .dmtext{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Terkait-mobil .navmenumobil li .dmtext span{
    bottom: -20px;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Terkait-mobil .navmenumobil li:hover .dmtext span{
    bottom: -20px;
}
.Terkait-mobil .navmenumobil li:hover .dmtext{
    margin-top: 30px;
}
.Terkait-mobil .navmenumobil li:hover img{
    transform: scale(1.1);
    margin-bottom: 10px;
}
.Terkait-mobil .navmenumobil li div h3{
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 20px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.Terkait-mobil .dispjm .backnav, .Terkait-mobil .dispjdm .backnav{
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    margin-top: -30px;
    top: 205px;
    margin-left: 10px;
}
.Terkait-mobil .dispjm .backnav i, .Terkait-mobil .dispjdm .backnav i{
    margin-right: 10px;
    cursor: pointer;
}
.Terkait-mobil .dispjm .backnav h4, .Terkait-mobil .dispjdm .backnav h4{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #666;
    cursor: default;
}
.Terkait-mobil .dispjm .backnav h4 span, .Terkait-mobil .dispjdm .backnav h4 span{
    text-decoration: underline;
}
.Terkait-mobil .dispjm .backnav:hover, .Terkait-mobil .dispjdm .backnav:hover{
    color: #007A7B;
}
.Terkait-mobil .dispjm, .Terkait-mobil .dispjdm{
    display: none;
}
.Terkait-mobil .dispjm.active, .Terkait-mobil .dispjdm.active{
    display: flex;
}
/* Artikel Section */
.Artikel{
    width: 100%;
    background: #FFFFFF;
    padding: 100px 100px 30px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.wrapper{
    position: relative;
    width: 43rem;
    margin: 0;
    display: flex;
}
.wrapper .slide-wrapper{
    display: flex;
    aspect-ratio: 16/9;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    border-width: 1px;
    border-top-style: solid;
    border-color: #0000002b;
    width: 100%; 
}
.wrapper .slide-wrapper img{
    flex: 1 0 100%;
    border-radius: 1rem;
}
.wrapper .slide-wrapper .img-slide{
    clip-path: inset(0 100% 0 0);
    position: absolute;
    aspect-ratio: 16/9;
    width: 43rem;
}
.wrapper .slide-wrapper .img-slide.active{
    clip-path: inset(0 0 0 0);
}
.slide-wrapper .text-slide{
    position: absolute;
    clip-path: inset(0 100% 0 0);
}
.slide-wrapper .text-slide h1{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 5px 15px;
    cursor: pointer;
    width: 43rem;
    color: #000;
    background: #FFFFFF;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.slide-wrapper .text-slide.active{
    clip-path: inset(0 0 0 0);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.slide-wrapper .text-slide h1:hover{
    color: #FFFFFF;
    background: #000000;
}
.slider-nav{
    column-gap: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 10px;
    position: absolute;
}
.slider-nav .nav-btnsldr{
    width: 0.6rem;
    height: 0.6rem;
    background: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5);
    transition: all .2s ease;
    opacity: 0.75;
    transform: scale(1);
}
.slider-nav .nav-btnsldr.active{
    background: linear-gradient(48deg, rgba(0, 122, 123, 0.76) 0%, rgba(255, 3, 124, 0.76) 50.48%, rgba(250, 199, 74, 0.76) 100%);
}
.slider-nav .nav-btnsldr:hover{
    transform: scale(1.2);
    background: linear-gradient(48deg, rgba(0, 122, 123, 0.76) 0%, rgba(255, 3, 124, 0.76) 50.48%, rgba(250, 199, 74, 0.76) 100%);
}
.article-container{
    position: relative;
    display: flex;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    background: #FFFFFF;
    justify-content: center;
    width: 30%;
    height: 387px
}
.article-container header{
    position: absolute;
    display: flex;
    list-style: none;
    justify-content: center;
    z-index: 1;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    padding: 10px;
    height: 387;
    background: linear-gradient(135deg, rgba(248, 185, 52, 0.50) 0%, rgba(205, 95, 13, 0.50) 50.48%, rgba(0, 122, 123, 0.50) 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.article-container .nav-article{
    display: flex;
    list-style: none;
    column-gap: 5rem
}
.nav-article button{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    border-style: none;
    color: #000000;
    background: #FFFFFF;
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease-in-out;
}
.article-container button.active{
    background: #000000;
    color: #FFFFFF;
}
.article-container button:hover{
    color: #FFFFFF;
    transform: scale(1.1);
    background: linear-gradient(135deg, rgba(248, 185, 52, 0.50) 0%, rgba(205, 95, 13, 0.50) 50.48%, rgba(0, 122, 123, 0.50) 100%);
}
.article-text{
    position: absolute;
    list-style: none;
    top: 60px;
    transition: all .2s ease;
    display: none;
    font-family: 'Poppins', sans-serif;
}
.article-text ul{
    padding: 10px;
    list-style: none;
}
.article-text ul li{
    border-bottom-style: solid;
    border-width: .5px;
    border-color: #0000004f;
    margin-top: 5px; 
}
.article-text ul li h1{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    top: 10px;
    color: #000000;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.article-text.active{
    display: block;
}
.article-text h1:hover{
    color: #007A7B;
}
.more-article{
    position: absolute;
    display: flex;
    right: 10px;
}
.more-article p{
    font-family: 'Poppins', sans-serif;
    color: #007A7B;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    transition: all .2s ease;
}
.more-article p:hover{
    transform: scale(1.1);
    font-weight: 600;
}

/* Tentang Kami Section */
.Tentang_kami{
    width: 100%;
    background: linear-gradient(135deg, rgba(248, 185, 52, 0.50) 0%, rgba(205, 95, 13, 0.50) 50.48%, rgba(0, 122, 123, 0.50) 100%);
    padding: 100px 100px 50px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}
    /* Tentang Sewakuy */
    .tentang-sewakuy{
        max-width: 50rem;
        aspect-ratio: 16/9;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
        border-radius: 1rem;
        padding: 50px;
        background-color: #000000;
        cursor: default;
    }
    .tentang-sewakuy h1{
        display: flex;
        font-size: 22px;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: 4px;
        bottom: 10px;
        position: relative;  
    }
    .tentang-sewakuy p{
        display: flex;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #FFFFFF;
    }

        /* Masuk & Daftar form */
.Dftrmsk-form{
    position: fixed;
    top: 110px;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    transform: scale(0);
    transition: all .2s ease;
    z-index: 10;
}
.Dftrmsk-form .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007A7B;
    transition: .2s;
    cursor: pointer;
    z-index: 10;
}
.icon-close .ion-icon{
    width: 70%;
    height: 70%;
}
.Dftrmsk-form .icon-close:hover{
    color: #000000;
}
.masuk-formbox, .daftar-formbox{
    width: 100%;
    padding: 40px;
}
.masuk-formbox{
    transition: none;
    transform: translateX(0);
}
.daftar-formbox{
    position: absolute;
    transform: translateX(400px);
    transition: none;
}
.masuk-formbox h2, .daftar-formbox h2{
    font-size: 2em;
    color: #007A7B;
    text-align: center;
    cursor: default;
}
.Dftrmsk-form.active{
    height: 520px;
}
.Dftrmsk-form.active-popup{
    transform: scale(1);
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    font-weight: 500;
    pointer-events: none;
    transition: .8s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #000;
    line-height: 57px;
}
.ingat-saya, .s-k{
    font-size: .9em;
    font-weight: 500;
    color: #000000;
    margin: -15px 0 15px;
    justify-content: space-between;
    display: flex;
}
.ingat-saya input, .s-k input{
    margin-right: 3px;
    accent-color: #007A7B;
}
.ingat-saya a, .s-k a{
    color: #000000;
    text-decoration: none;
}
.ingat-saya a:hover, .s-k a:hover{
    text-decoration: underline;
}
.btn-msk, .btn-dftr{
    width: 100%;
    height: 45px;
    background: #007A7B;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    transition: .2s;
}
.btn-msk:hover, .btn-dftr:hover{
    background: #000000;
}
.masuk-daftar, .daftar-masuk{
    font-size: .9em;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin: 25px 0 10px;
}
.masuk-daftar a, .daftar-masuk a{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}
.masuk-daftar a:hover, .daftar-masuk a:hover{
    text-decoration: underline;
}
/* Footer */
footer{
background: #FFFFFF;
padding: 2px 10px;
width: 100%;
position: absolute;
bottom: 0; 
align-items: center;
justify-content: center;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15) inset;
}
footer p{
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-align: center;
    justify-content: center;
    letter-spacing: 2px;
}
.fa.fa-copyright{
    font-weight: 500;
    right: 2px;
    position: relative;
}

/* Page Responsive */

@media screen and (max-width:1200px) {
    .navbar1{
        right: 50px;
    }
    .Layanan, .Artikel, .Tentang_kami{
        min-height: 0;
        padding: 100px;
    }
    .banner{
        margin: 1px auto;
    }
    .article-text .recent-text li h1{
        line-height: 17.5px;
    }
    .article-text ul li h1{
        font-size: 13px;
    }
    .tentang-sewakuy{
        max-width: 40rem;
        padding: 25px;
    }
}
@media screen and (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    header {
        padding: 14px 8%;
    }
    .navbar1 {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 225px;
        padding: 10px 0px;
        background: #FFB703;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 0 0 10px 10px;
        transition: all .2s ease;
        align-items: center;
        justify-content: center;
    }
    .navbar1 ul{
        display: block;
    }
    .navbar1 a{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        padding: 8px 10px;
        transition: all .2s ease;
    }
    .navbar1 a:hover{
        background-color: #007A7B;
        color: #FFFFFF;
        transform: translateY(5px);
    }
    .navbar1 a.active{
        background-color: #007A7B;
        border-radius: 15px;
        color: #FFFFFF;
    }
    .navbar1.open {
        right: 2%;
    }
    .Beranda{
        display: block;
    }
    .Layanan{
        padding: 80px 30px;
    }
    .banner{
        width: 590px;
        height: 235px;
    }
    .banner .left-side{
        height: 235px;
        width: 65%;
    }
    .banner .left-side img{
        height: 82%;
        margin-top: 42px;
    }
    .banner .left-side h1{
        font-size: 40px;
        right: 10px;
    }
    .banner .left-side h1 span{
        letter-spacing: 15px;
    }
    .banner .right-side h1{
        font-size: 11px;
        right: 4px;
        position: relative;
    }
    .banner .right-side h1 span{
        font-size: 100px;
    }
    .banner .right-side h1 span span{
        font-size: 45px;
    }
    .form-container {
        width: 640px;
        top: 20px;
    }
    .nav-layanan{
        top: 20px;
        width: 600px;
    }
    .nav-layanan  .vertical-grid{
        gap: 40px;
        justify-content: space-between;
    }
    .vertical-grid li a{
        justify-content: center;
        display: flex;
    }
    .vertical-grid .verticaltext h2{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        font-size: 12px;
    }
    .Artikel{
        padding: 80px 50px;
        display: flex;
        flex-direction: column;
    }
    .article-container{
        margin-top: 20px;
        position: relative;
        width: 50%;
    }
    .article-text .recent-text li h1{
        line-height: normal;
    }
    .Tentang_kami{
        padding: 80px 50px;
        display: flex;
        flex-direction: column;
    }
    .tentang-sewakuy{
        max-width: 45rem;
    }
    .tentang-saya{
        margin-top: 20px;
        position: relative;
    }
}
